{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="image" style="background: url({{ student.avatar_url }}) no-repeat  center center/ cover"></section>
    <section class="details">
      <form action="/students?_method=PUT" method="POST" id="form">
        <h3>Editar aluno</h3>
        {% include "students/fields.njk"%}
        <input type="hidden" name="id" value="{{ student.id }}">
      </form>

      <form action="/students?_method=DELETE" id="form-delete" method="POST">
        <input type="hidden" name="id" value="{{ student.id }}">
        <button class="delete-button" type="submit">Deletar</button>
      </form>
    </section>
  </div>
{% endblock %}
