
<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://" 
      value="{{ student.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Aluno</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Nome completo" 
      value="{{ student.name }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth" 
      value="{{ student.birth }}"
    >
  </div>
</div>


<button type="submit">Salvar</button>
