{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="image" style="background-image: url({{ student.avatar_url }})"></section>
    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Aluno</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Ano escolar</div>
        <div>{{ student.schoolGrade }}</div>
      </div>

      <div class="item">
        <div>Carga horária semanal</div>
        <div>{{ student.hours }} horas</div>
      </div>

      <div class="item">
        <div>Aniversário</div>
        <div>
            {{ student.birthDay }}
        </div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>
            {{ student.age }} anos
        </div>
      </div>
      <a href="/students/{{student.id}}/edit" class="button">Editar</a>
    </section>
  </div>
{% endblock %}
