
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background-color: #23db79;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.menu {
    font-size: 22px;
}


.menu a + a {
    margin-left: 32px;
}

.menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 32px;
    position: relative;
}

.menu a::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: white;
}

.menu a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}