{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="image" style="background: url({{ teacher.avatar_url }}) no-repeat  center center/ cover"></section>
    <section class="details">
      <form action="/teachers?_method=PUT" method="POST" id="form">
        <h3>Editar professor</h3>
        {% include "teachers/fields.njk"%}
        <input type="hidden" name="id" value="{{ teacher.id }}">
      </form>
      <form action="/teachers?_method=DELETE" id="form-delete" method="POST">
        <input type="hidden" name="id" value="{{ teacher.id }}">
        <button class="delete-button" type="submit">Deletar</button>
      </form>
    </section>
  </div>

  {% include "confirm.njk"%}

{% endblock %}
