{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="image"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Professor</div>
                <div>Pedro Felipe Baltar</div>
            </div>
            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Ensino superior</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>Distância</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Programação</span>
                    <span>Design de interface</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>01/01/2020</div>
            </div>
        </section>
    </div>
{% endblock %}
